# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990749, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06833155, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286131, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04688253,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452873, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00422151,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'frame': None,
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'diabetes_data_raw.csv.gz',
 'target_filename': 'diabetes_target.csv.gz',
 'data_module': 'sklearn.datasets.data'}

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
print(diabetes.DESCR)
# load_diabetes().data

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

1. age - 
2. sex - 
3. bmi - 
4. bp - 
5. s1-s6 -

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [5]:
# Your code here:
import numpy as np
np.shape(diabetes.data)

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [6]:
# Your code here:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

Initialize the model in the variable `diabetes_model`

In [7]:
# Your code here:
X = diabetes.data
y = diabetes.target

In the cell below, fit the model and print the intercept and coefficients of the model.

In [8]:
# Your code here:
diabetes_model = lr.fit(X, y) 
print('intercept:',diabetes_model.intercept_)
print('coef:',diabetes_model.coef_)

intercept: 152.13348416289597
coef: [ -10.0098663  -239.81564367  519.84592005  324.3846455  -792.17563855
  476.73902101  101.04326794  177.06323767  751.27369956   67.62669218]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [9]:
# Your code here:
import statsmodels.formula.api as smf # regression modeling
diab = pd.DataFrame(load_diabetes().data, columns=load_diabetes().feature_names)
diab['target'] = diabetes.target
results = smf.ols("target ~ age + sex + bmi + bp + s1 + s2 + s3 + s4 + s5 + s6", data = diab).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Thu, 18 Aug 2022   Prob (F-statistic):           3.83e-62
Time:                        16:33:32   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.576     59.061      0.000     147.071     157.196
age          -10.0099     59.749     -0.168      0.867    -127.446     107.426
sex         -239.8156     61.222     -3.917      0.000    -360.147    -119.484
bmi          519.8459     66.533      7.813      0.000     389.076     650.616
bp           324.3846     65.422      4.958      0.000     195.799     452.970
s1          -792.1756    416.680     -1.901      0.058   -1611.153      26.802
s2           476.7390    339.030      1.406      0.160    -189.620    1143.098
s3           101.0433    212.531      0.475      0.635    -316.684     518.770
s4           177.0632    161.476      1.097      0.273    -140.315     494.441
s5           751.2737    171.900      4.370      0.000     413.407    1089.140
s6            67.6267     65.984      1.025      0.306     -62.064     197.318
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [10]:
# Your code here:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [11]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [12]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [13]:
# Your code here:
print('max:', auto['model_year'].max(), '  min:', auto['model_year'].min())

max: 82   min: 70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [14]:
# Your code here:
auto.dropna(axis=0, inplace=True)
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [15]:
# Your code here:
auto['cylinders'].value_counts() # 5 possible values from 3, 4, 5, 6, or 8

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [16]:
# Import the necessary function
from sklearn.model_selection import train_test_split as tts
auto.drop('car_name', axis=1, inplace = True)

In [17]:
# Your code here:
X = auto.drop("mpg", axis=1) # all other vars
y = auto.mpg # test var

In [18]:
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2)
X_train

     cylinders  displacement  horse_power  weight  acceleration  model_year
222          8         260.0        110.0    4060          19.0          77
46           4         140.0         72.0    2408          19.0          71
230          8         350.0        170.0    4165          11.4          77
379          4          98.0         70.0    2125          17.3          82
285          8         305.0        130.0    3840          15.4          79
..         ...           ...          ...     ...           ...         ...
292          8         360.0        150.0    3940          13.0          79
117          4          68.0         49.0    1867          19.5          73
80           4         122.0         86.0    2395          16.0          72
102          4          97.0         46.0    1950          21.0          73
38           8         350.0        165.0    4209          12.0          71

[313 rows x 6 columns]

In [19]:
print(X.shape[0], y.shape[0])

392 392

In [20]:
print(X_train.shape[0], y_train.shape[0])

313 313

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [21]:
# Your code here:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

Next, fit the model in the cell below.

In [22]:
# Your code here:
model = lr.fit(X_train, y_train)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [23]:
# Import the necessary function:
from sklearn import metrics

In [24]:
# Your code here:
y_pred = lr.predict(X)
metrics.r2_score(y, y_pred)

0.8087537860198741

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [25]:
y_test_pred = lr.predict(X_test)
y_test_pred

array([16.64781535, 27.49837431, 32.85275772, 15.48160787, 23.23739649,
       26.21018831, 26.65096227, 29.86290485, 24.66765979, 29.85904867,
       21.39487784, 21.71905989, 24.79900922, 21.24248417, 22.05398677,
       31.60143609, 22.41909006, 35.01821784, 30.52010214,  9.91869389,
        9.39238675, 28.86892405, 26.59925903, 14.54941521, 30.07039713,
       14.05286561, 20.16309288, 28.73994905, 20.9649684 , 33.77080999,
       32.6655495 , 19.93421123, 27.48913499, 28.02065623, 18.62524058,
       17.72906255, 24.96381436, 35.0605278 , 19.86267528, 25.66486658,
       23.19089741, 26.99571736, 32.54902199, 13.97526266, 13.70173713,
       17.76689235, 16.85260313, 29.53608196, 28.78878509, 19.29716139,
       31.17194832, 28.95134332, 25.72400285, 31.29243291, 21.45463207,
       10.44085726, 21.5064464 , 32.2575749 , 24.568041  , 21.81049696,
       10.54595848, 25.23978953, 33.72479876, 25.63642787, 32.17967611,
       13.14585522, 33.31522803, 17.87352513, 31.21117839,  9.80355325,
       27.1889509 , 21.01662898, 25.12108106, 20.97734929, 30.17825642,
       33.26107524, 31.68664979, 27.82372536, 25.56424964])

In [26]:
metrics.r2_score(y_test, y_test_pred)

0.8268242406064807

In [27]:
# manually comparing predicted values (not a good idea)
for i in range(10):
    print(model.predict(X_test)[i])
    print(list(y_test.values)[i], '\n')

16.64781534635466
16.9

27.498374306254853
28.0

32.85275771903472
34.0

15.48160786860484
15.5

23.237396490451836
24.0

26.21018831442445
24.5

26.650962268158516
36.4

29.86290485262883
32.0

24.667659789552204
25.0

29.85904866540151
26.6

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [28]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = tts(X, y, test_size = 0.1)
X_train09

     cylinders  displacement  horse_power  weight  acceleration  model_year
351          4          98.0         65.0    2045          16.2          81
143          4          97.0         78.0    2300          14.5          74
376          4          91.0         68.0    2025          18.2          82
116          8         400.0        230.0    4278           9.5          73
334          3          70.0        100.0    2420          12.5          80
..         ...           ...          ...     ...           ...         ...
307          6         173.0        115.0    2700          12.9          79
318          4         134.0         90.0    2711          15.5          80
72           8         304.0        150.0    3892          12.5          72
299          4         141.0         71.0    3190          24.8          79
59           4          97.0         54.0    2254          23.5          72

[352 rows x 6 columns]

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [29]:
# Your code here:
auto_model09 = lr.fit(X_train09, y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [30]:
# Your code here:
y_pred09 = lr.predict(X)
metrics.r2_score(y, y_pred09)

0.8073055932823399

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [31]:
# Your code here:
y_test_pred09 = lr.predict(X_test09)
metrics.r2_score(y_test09, y_test_pred09)

0.7003153873920316

In [32]:
# a 14% relative drop in the r2 value shows that the model is not valuable, since you want r2 to be 
# as close to 1 as possible. This probably shows why using 20% data is more common.

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [42]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [44]:
# Your code here:
auto_model = SVR(kernel="linear")
selector = RFE(auto_model, n_features_to_select=3, step=1)
selector = selector.fit(X_test, y_test)
selector.support_

array([False,  True, False, False,  True,  True])

Fit the model and print the ranking

In [45]:
# Your code here:
selector.ranking_

array([3, 1, 2, 4, 1, 1])

In [47]:
X_test.keys() # disp, acc, year

Index(['cylinders', 'displacement', 'horse_power', 'weight', 'acceleration',
       'model_year'],
      dtype='object')

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [48]:
# Your code here:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = tts(X, y, test_size = 0.2)
auto_model_reduced = lr.fit(X_train_reduced, y_train_reduced)
y_pred_reduced = lr.predict(X)
metrics.r2_score(y, y_pred_reduced)

0.8083100158332535

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [49]:
y_test_pred_reduced = lr.predict(X_test_reduced)
metrics.r2_score(y_test_reduced, y_test_pred_reduced)

0.7947287522025208