# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [43]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from sklearn.datasets import load_diabetes

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [44]:
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [45]:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [46]:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

- Target: Column 11 is a quantitative measure of disease progression one year after baseline

- Attribute Information:
    - age     age in years
    - sex
    - bmi     body mass index
    - bp      average blood pressure
    - s1      tc, total serum cholesterol
    - s2      ldl, low-density lipoproteins
    - s3      hdl, high-density lipoproteins
    - s4      tch, total cholesterol / HDL
    - s5      ltg, possibly log of serum triglycerides level
    - s6      glu, blood sugar level

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [47]:
diabetes.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [48]:
from sklearn.linear_model import LinearRegression

Initialize the model in the variable `diabetes_model`

In [49]:
lr = LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [50]:
diabetes_model = lr.fit(diabetes.data, diabetes.target)

In [51]:
diabetes_model.coef_

array([ -10.01219782, -239.81908937,  519.83978679,  324.39042769,
       -792.18416163,  476.74583782,  101.04457032,  177.06417623,
        751.27932109,   67.62538639])

In [52]:
diabetes_model.intercept_

152.1334841628965

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [53]:
import statsmodels.formula.api as smf

df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target
results = smf.ols("target ~ age + sex + bmi + bp + s1 + s2 + s3 + s4 + s5 + s6", data=df).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Thu, 18 Aug 2022   Prob (F-statistic):           3.83e-62
Time:                        15:55:15   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.576     59.061      0.000     147.071     157.196
age          -10.0122     59.749     -0.168      0.867    -127.448     107.424
sex         -239.8191     61.222     -3.917      0.000    -360.151    -119.488
bmi          519.8398     66.534      7.813      0.000     389.069     650.610
bp           324.3904     65.422      4.958      0.000     195.805     452.976
s1          -792.1842    416.684     -1.901      0.058   -1611.169      26.801
s2           476.7458    339.035      1.406      0.160    -189.621    1143.113
s3           101.0446    212.533      0.475      0.635    -316.685     518.774
s4           177.0642    161.476      1.097      0.273    -140.313     494.442
s5           751.2793    171.902      4.370      0.000     413.409    1089.150
s6            67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [54]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [55]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [56]:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [57]:
auto["model_year"].max()

82

In [58]:
auto["model_year"].min()

70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [59]:
auto = auto.dropna()

In [60]:
auto.isnull().values.any()

False

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [61]:
auto["cylinders"].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [65]:
from sklearn.model_selection import train_test_split as tts

In [63]:
auto.drop('car_name', axis=1, inplace=True )
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [66]:
X = auto.drop("mpg", axis=1) # all other vars
y = auto.mpg # test var
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [70]:
lr = LinearRegression()

Next, fit the model in the cell below.

In [71]:
lr.fit(X_train, y_train)

LinearRegression()

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [74]:
from sklearn import metrics
import numpy as np

In [81]:
y_pred = lr.predict(X)
metrics.r2_score(y, y_pred)

0.8086887177242552

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [82]:
y_test_pred = lr.predict(X_test)
metrics.r2_score(y_test, y_test_pred)

0.8494741166576658

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [83]:
X_train09, X_test09, y_train09, y_test09 = tts(X, y, test_size = 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [84]:
lr = LinearRegression()
auto_model09 = lr.fit(X_train09, y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [94]:
y_pred09 = auto_model09.predict(X_train09)
y_pred09

array([28.60822811, 27.75247039, 28.99296013, 11.86800853, 11.12362841,
       23.20585536, 17.68963395, 23.40807218, 25.0947531 , 13.68311735,
       26.11296908, 16.89401763, 25.72668612, 13.69413846, 29.25351298,
       15.06859763, 26.68796138,  8.38884316, 25.75295128, 29.37011333,
       26.38368017, 27.6250809 , 28.50420605, 22.43918352, 30.08956545,
       21.47110804, 17.79620289, 20.39138682, 21.57593617, 34.73766477,
       15.0963415 , 21.65658442, 10.48133297, 32.38335058, 31.22864874,
       33.78965329, 21.00360536,  9.22700338, 30.78535588, 31.72958704,
       30.53037945,  6.29872407, 32.75799788, 25.40848198, 18.80317971,
       26.94099417, 24.4445485 , 27.1039759 , 20.5247341 , 26.92147527,
       18.08875861, 31.27689362, 17.01570939, 26.60387793, 16.63272762,
       25.75837042, 25.1642289 , 21.01387269,  7.43912952, 30.12974919,
       28.23823989, 22.20887358, 24.3491583 , 20.92513057, 20.94189771,
       14.94922947, 11.49828209, 23.40033466, 28.74897257, 22.52342218,
        8.89643378, 22.41357351, 25.75544037, 23.01245483, 28.57286901,
       20.65293307, 15.01228516, 33.06422018, 30.04615638, 28.81775432,
       31.4642218 , 24.1769295 , 11.37821651, 25.60783746, 34.81178915,
       24.51488798,  8.00796567, 22.3776939 , 29.62294583, 24.88141097,
       31.98337123, 22.42631635, 17.84822361, 25.56094678, 13.52912996,
       18.56435809, 25.87155357, 28.70854681, 24.42576727, 26.82993588,
       15.19362452, 34.61717369, 29.34104123, 29.65206982, 19.76198319,
       15.73606481, 30.66458527, 21.39264452, 26.14068447, 31.46015811,
        8.76171274, 25.82878086, 11.80032072, 25.13713822, 25.58162784,
       24.46744476, 11.39732584, 32.09720087, 22.38251154, 11.48715219,
       24.49176379, 19.4884344 , 10.39609212, 19.74801791, 17.34577261,
       34.24791543, 28.07101987, 33.89725546, 32.25309451, 29.60554709,
       30.77188262, 13.92511393, 26.85620208, 21.57088278, 15.44951294,
       28.57858939, 30.16644156, 30.50271689, 26.67744401, 28.52725647,
       28.92739697, 30.80565877, 20.53643073, 29.64758897,  5.24725531,
       19.19184457, 21.10517505, 17.63676452, 22.40640609, 20.83017456,
       19.95219362, 23.96716259, 17.95899548, 32.4862358 , 26.22718061,
       20.66481457, 27.29310375, 22.87693954, 15.25004532, 26.13801003,
       27.0080974 , 23.44186602, 32.87688731, 17.45462746, 15.29558812,
       22.10306563, 17.78968025, 20.69321902, 35.43365563, 28.9283851 ,
       16.01683731, 13.72593728, 29.0609863 , 31.09316358,  9.5609577 ,
       26.03628964, 15.15717065, 21.60978014, 13.32447145, 24.49124659,
       19.87347313, 28.40617596, 30.56585346, 22.76876947, 28.66209255,
       34.48142465, 19.23044043, 29.84094704, 21.76924713, 30.86576085,
       20.98507514, 34.08753585, 14.5827566 , 30.71577852, 28.54434669,
       11.84792023, 10.56893355, 22.74762922, 26.27348398, 23.7330888 ,
       24.17819396, 15.35025718, 21.94136691, 24.93444776, 30.65751272,
       22.98894709, 17.57349204, 15.09198938, 28.04007474,  9.82149249,
       23.72280987, 29.93113457, 22.95070057, 12.55991297, 21.19094283,
       30.98101829, 22.81500322, 16.72312037, 32.66053631, 14.3041176 ,
       24.00908186, 20.18614848, 24.43527136,  8.88453394, 23.42873857,
       12.39288782, 25.70983129, 26.47294021, 27.72356714, 19.22406524,
       24.45742871, 11.76610252, 32.19864299, 26.34455199, 10.78847212,
        7.84612011,  9.61179861, 11.46862632, 25.75561138, 31.56950173,
       10.67104579, 28.30824161, 25.07356536, 19.71687972, 27.47053521,
       31.22120436, 30.87724509, 27.642925  , 27.41886905, 33.17050319,
       29.47731406, 33.81074838, 28.36060638, 31.9874394 , 32.00772936,
       23.92224489, 24.91200295, 22.17600914, 17.83606228, 33.55657796,
       17.82562437, 15.01907099, 26.66346973, 12.77978079, 13.84814817,
       31.05789948, 26.15760794, 24.59841377, 19.67126551, 34.76862599,
       31.33645412, 29.49483386, 30.00794226, 32.36684246, 21.40709868,
       16.94695879, 32.43586393, 25.06304226, 27.53583698, 30.09764612,
       12.5529693 , 32.44768478, 25.54110671, 16.25634333, 25.84403244,
       21.8411711 , 20.97352342, 23.37877544, 12.94884075, 30.25295212,
       20.11900572, 34.02821825, 16.02313199, 16.79437804, 35.35894032,
       33.55319723, 31.34306302, 31.98829941, 30.44442831, 19.24339404,
       26.84057809, 28.69759973, 29.80732385, 22.13764739, 32.37317059,
        9.12625812, 25.43684672, 32.86212853, 26.06047413, 26.84943705,
       14.06568203,  6.78514919, 26.04101225, 10.91334781, 32.90751682,
       33.41775964, 28.62789557, 12.8023245 , 21.41616642, 31.79693972,
       32.60893691, 11.65300764, 23.70089687, 17.91367199, 20.13350436,
       24.5231986 , 26.79287196, 21.69165972, 28.40583745, 24.31806695,
       22.26120901, 26.5858247 , 31.58175258, 29.85470398, 27.90245361,
       29.71437847, 15.9412206 , 24.29625026, 28.55289481, 28.05135108,
       17.51332848, 25.19435867, 30.67113396, 33.40171767, 25.44053622,
       21.23340193, 10.13973544, 34.59606696, 23.01806047, 23.80735884,
       27.76291295, 31.22407516])

In [95]:
metrics.r2_score(y_train09, y_pred09)

0.8042453001347437

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [93]:
y_pred_test09 = auto_model09.predict(X_test09)
metrics.r2_score(y_test09, y_pred_test09)

0.8532136713198506

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [200]:
# Your code here:

Fit the model and print the ranking

In [201]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [202]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [203]:
# Your code here: