# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import numpy as np
import pandas as pd

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:
list(diabetes.keys())

['data',
 'target',
 'frame',
 'DESCR',
 'feature_names',
 'data_filename',
 'target_filename',
 'data_module']

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
print(diabetes['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

**Variables:**
- age     age in years
- sex
- bmi     body mass index
- bp      average blood pressure
- s1      tc, total serum cholesterol
- s2      ldl, low-density lipoproteins
- s3      hdl, high-density lipoproteins
- s4      tch, total cholesterol / HDL
- s5      ltg, possibly log of serum triglycerides level
- s6      glu, blood sugar level

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [5]:
# Your code here:
diabetes.data.shape

(442, 10)

In [6]:
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)

In [7]:
df.sample()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
42,-0.060003,0.05068,-0.010517,-0.014863,-0.049727,-0.023547,-0.058127,0.015858,-0.009919,-0.034215

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [8]:
# Your code here:
from sklearn.linear_model import LinearRegression

In [9]:
lr = LinearRegression()

In [10]:
df['target'] = pd.DataFrame(diabetes.target)

In [11]:
df.sample()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
83,-0.038207,-0.044642,0.009961,-0.046985,-0.059359,-0.052983,-0.010266,-0.039493,-0.015999,-0.042499,210.0

In [12]:
len(df.target)

442

Initialize the model in the variable `diabetes_model`.
In the cell below, fit the model and print the intercept and coefficients of the model.

In [13]:
# Save the variables X,y
X = diabetes.data
y = diabetes.target

In [14]:
diabetes_model = lr.fit(X,y)
print(f'Intercept: {diabetes_model.intercept_}\nCoefficients: {diabetes_model.coef_}')

Intercept: 152.13348416289597
Coefficients: [ -10.0098663  -239.81564367  519.84592005  324.3846455  -792.17563855
  476.73902101  101.04326794  177.06323767  751.27369956   67.62669218]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [15]:
import statsmodels.api as sm

In [16]:
# Your code here:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.106
Model:                            OLS   Adj. R-squared (uncentered):              0.085
Method:                 Least Squares   F-statistic:                              5.100
Date:                Thu, 18 Aug 2022   Prob (F-statistic):                    4.72e-07
Time:                        17:18:49   Log-Likelihood:                         -2873.9
No. Observations:                 442   AIC:                                      5768.
Df Residuals:                     432   BIC:                                      5809.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           -10.0099    179.967     -0.056      0.956    -363.729     343.709
x2          -239.8156    184.404     -1.300      0.194    -602.255     122.624
x3           519.8459    200.401      2.594      0.010     125.964     913.728
x4           324.3846    197.053      1.646      0.100     -62.917     711.687
x5          -792.1756   1255.052     -0.631      0.528   -3258.944    1674.593
x6           476.7390   1021.170      0.467      0.641   -1530.341    2483.819
x7           101.0433    640.151      0.158      0.875   -1157.155    1359.242
x8           177.0632    486.370      0.364      0.716    -778.883    1133.009
x9           751.2737    517.768      1.451      0.148    -266.384    1768.931
x10           67.6267    198.747      0.340      0.734    -323.004     458.257
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   0.223
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         21.7
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [17]:
# Your code here:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [18]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [19]:
# Your code here:
auto.dtypes
# The only column that is an object is the car_name, so it is all good.
# Otherwise we would use astype

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [20]:
# Your code here:
print(f'The newest model year is {auto.model_year.max()} and the oldest model year is {auto.model_year.min()}')

The newest model year is 82 and the oldest model year is 70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [21]:
# Your code here:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [22]:
auto.dropna(inplace=True)

In [23]:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [24]:
# Your code here:
auto.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [25]:
# Import the necessary function
from sklearn.model_selection import train_test_split

In [26]:
auto.drop(columns='car_name', inplace=True)

In [27]:
X = auto.drop("mpg", axis=1) # all the rest
y = auto.mpg # target variable

In [28]:
# Your code here:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below. Next, fit the model in the cell below.

In [29]:
# Your code here:
auto_model = lr.fit(X_train, y_train)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [30]:
# Import the necessary function:
# error: y_pred, y_test
from sklearn import metrics
import numpy as np

In [31]:
# Your code here:
y_pred = auto_model.predict(X_test)
print(f"MAE: {metrics.mean_absolute_error(y_test, y_pred)}")
print(f"MSE: {metrics.mean_squared_error(y_test, y_pred)}")
print(f"RMSE: {np.sqrt(metrics.mean_squared_error(y_test, y_pred))}")
print(f"R2: {metrics.r2_score(y_test, y_pred)}")

MAE: 2.8206047775119227
MSE: 13.903044312532055
RMSE: 3.7286786282183204
R2: 0.8049015864656408

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [32]:
# Your code here:
y_test_pred = lr.predict(X_train)
r2_new = metrics.r2_score(y_train, y_test_pred)
print(f'The new r squared score of the model is: {r2_new}')

The new r squared score of the model is: 0.8080329285991253

In [33]:
y_test_pred2 = lr.predict(X)
r2_new2 = metrics.r2_score(y, y_test_pred2)
print(f'The new r squared score of the model is: {r2_new2}')

The new r squared score of the model is: 0.8081346797195492

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [34]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size = 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [35]:
# Your code here:
auto_model09 = lr.fit(X_train09, y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [36]:
# Your code here:
y_pred09 = auto_model09.predict(X_test)
r209 = metrics.r2_score(y_test, y_pred09)
print(f'The r squared score of the model is {r209}')

The r squared score of the model is 0.8141714959650611

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [37]:
# Your code here:
y_pred09_new = auto_model09.predict(X_test09)
r209_new = metrics.r2_score(y_test09, y_pred09_new)
print(f'The new r squared score of the model is {r209_new}')

The new r squared score of the model is 0.7938838208493981

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [38]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [39]:
# Your code here:
auto_model = RFE(estimator=lr, n_features_to_select=3)

Fit the model and print the ranking

In [40]:
# Your code here:
auto_model.fit(X_train, y_train)
auto_model.ranking_

array([1, 4, 2, 3, 1, 1])

In [41]:
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [42]:
# Your code here:
auto_df_reduce = auto.drop("mpg", axis=1)
auto_df_reduce.drop("displacement", axis=1, inplace=True)
auto_df_reduce.drop("weight", axis=1, inplace=True)
X_reduce = auto_df_reduce

In [43]:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X_reduce, y, test_size=0.2)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [44]:
# Your code here: 
auto_model_reduced = lr.fit(X_train_reduced, y_train_reduced)

In [45]:
y_pred_reduced = auto_model_reduced.predict(X_test_reduced)
print(f'The r squared score of the model is {metrics.r2_score(y_test_reduced, y_pred_reduced)}')

The r squared score of the model is 0.7862289825592655